.Header {
    margin-top: 61px;
    padding-top: 212px;
    margin-bottom: 146px;
    display: flex;
    justify-content: center;
}

.HeaderContent {
    max-width: 90%;
}

.HeaderContentOne {
    margin-bottom: 32px;
    font-family: 'Pixelcastle', mono;
    color: #b7b7b7;
    font-size: 14px;
    line-height: 145%;
}

.LogoDesktop {
    display: none;
}

.Logo {
    width: 100%;
}

@media screen and (min-width: 960px) {

.HeaderContent {
    max-width: 100%;
}

.LogoDesktop {
    display: block;
}

}

@media screen and (min-width: 600px) {
    .LogoMobile {
        display: none;
    }

    .LogoDesktop {
        display: block;
    }
}