.Footer {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 140px;
    align-items: center;
    flex-direction: column;
}

.FooterContent {
    max-width: 90%;
    text-align: center;
}

a {
    font-family: 'Pixelcastle';
    text-decoration: none;
    color: #b7b7b7;
}

.FooterSubscribeDescription {
    font-family: 'Pixelcastle', monospace;
    font-size: 14px;
    color: #b7b7b7;
    top: -24px;
    position: relative;
}

a:hover {
    text-decoration: line-through;
}

iframe {
    font-family: 'Pixelcastle', monospace;
}

.balance-text {
    color: red;
    display: none;
}

.FooterSubscribe {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.OverlayButton {
    background-color: #181A27;
    display: flex;
    justify-content: center;
    height: auto;
    width: 98px;
    position: relative;
    top: -83px;
    left: 289px;
    pointer-events: none;
}

.OverlayButtonCopy {
    color: #fafafa;
    font-family: 'Pixelcastle';
    font-size: 14px;
}

.Warning {
    display: none;
    width: 100%;
}

@media screen and (min-width: 900px) {

.Warning {
    display: block;
    padding: 8px;
    font-family: 'Pixelcastle';
    border-radius: 4px;
    color: #181A27;
    font-size: 14px;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    /* background-color: #b7b7b7; */
}

.visible {
    opacity: 1;
  }

  .FooterContent {
    max-width: 100%;
}

}