.Footer {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 140px;
}

a {
    font-family: 'Pixelcastle';
    text-decoration: none;
    color: #d0d0d0;
}

a:hover {
    text-decoration: line-through;
}